:root {
    --general-text: #312c27;
    --accent-text: #1f1711;
    --general-bg: #fff9f4;
    --accent-bg: #FFE0CB;
    --accent-color: #FFA55C;
    --swiper-scrollbar-drag-bg-color: var(--accent-color);
}

.body {
    background-color: var(--general-bg);
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    color: var(--general-text);
    line-height: 1.5;
}

.body--opened-menu {
    overflow: hidden;
}
.body--opened-modal {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 3px 15px;
    background-color: var(--accent-color);
    border-radius: 60px;
    transition: all 0.4s;
    height: 62px;
}

.title {
        color: var(--accent-text);
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: 0.82;
}

.modal {
    position: fixed;
    inset: 0;
    background: #00000085;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
    padding: 15px;
}

.modal--opened {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    background: var(--general-bg);
    position: relative;
    border-radius: 20px;
    padding: 0 60px 60px;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}
.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #ac907a;
}

.modal__img {
    max-width: 100%;
    margin: -65px 0 15px 13px;
}

.modal__title {
    max-width: 308px;
    font-family: "Gabriola", "Arial", sans-serif;
    font-size: 42px;
    line-height: 90%;
    text-align: left;
    margin-bottom: 10px;
}

.modal__text {
    max-width: 308px;
    margin-bottom: 30px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field {
    position: relative;
    display: flex;
}

.field span {
    position: absolute;
    font-size: 11px;
    color: #ac907a;
    padding: 12px 0 0 28px;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
}

.field__input {
    max-width: 308px;
    width: 100%;
    height: 62px;
    padding: 19px 28px 19px 28px;
    box-sizing: border-box;
    border: 1px solid #ac907a;
    border-radius: 100px;
    background-color: var(--general-bg);
    font-size: 16px;
    transition: all .4s;
}
.field__input::placeholder {
    color: #ac907a;
    transition: all .4s;
}
.field__input:hover {
    content: '';
    border-color: var(--accent-color);
}
.field__input:hover::placeholder {
    content: '';
    color: var(--accent-color);
}
.field__input:focus {
    padding: 26px 42px 12px 28px;
}
.field__input:focus + span {
    opacity: 1;
    visibility: visible;
}

.modal__form button {
    max-width: 308px;
    height: 62px;
    transition: all .4s;
}
.modal__form button:hover {
    content: '';
    background: #FF9138;
}