@font-face {
    font-family: 'Inter';
    src: local('Inter'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Readex Pro';
    src: local('Readex Pro'), local('ReadexPro'),
        url('../fonts/ReadexPro-Regular.woff2') format('woff2'),
        url('../fonts/ReadexPro-Regular.woff.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

